@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Black.ttf);
    font-weight: bold; 
}

html{
    color: rgb(70, 70, 70);
    font-family: Poppins;
    background:  rgb(255, 255, 255);
}

#logo h1{
    font-family: Poppins;
    font-weight: 400;
    margin: 0.7em 0 0 2em;
    white-space: nowrap;
    color: white;

}

header {
    font-size: 1.2em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    max-width: 100%;
    background: rgba(255,187,187);
    background: linear-gradient(90deg, rgba(255,187,187,1) 21%, rgba(216,181,255,1) 100%);
    
}

#kontakt{
    color: white;
    font-weight: 400;
    background: rgb(80, 80, 80);
    padding: 1em 0;
}

#email{
    padding: 4em 0 2em 0;
}
#linkedin{
    padding: 2em 0 8em 0;
}

.tlacitko-kontakt-m:hover{
    background: linear-gradient(90deg, #ffc8f8 10%, #b9eeee 100%);
    box-shadow: 0px 5px 10px #dddbdf;
    filter: opacity(0.68);
    color: rgb(80, 80, 80);
}

.tlacitko-kontakt-m{
    color: white;
    padding: 0.5em 1.2em;
    border-radius: 100px 100px 100px 100px;
    background: linear-gradient(90deg, rgba(255,187,187,1) 21%, rgba(216,181,255,1) 100%);
    
}
.img-size{
    width: 3.2em;
    margin: 0 0 0.5em 0;
}

.formular{
    margin: 8em 0;
    align-items: center;
    padding: 0 0 0 4em;
}

#text-formular{
    font-weight: 500;
    font-size: 1.1em;
    padding: 8em 0 0 0;
}

nav ul li {
    list-style-type: none;
    padding:  0 1em 0 5em;
    line-height: 4em;
    text-align: end;
}

nav ul a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

nav ul li a:hover{
    text-shadow: 0 0 2px #ffffff;
}

nav ul {
    margin-left: 5em;
    display: flex;
    align-items: center;
}

.centrovac {
    text-align: center;
}

#panel{
    padding: 5% 8%;
    margin: 0 0 4% 0;
    font-size: 1.1em;
    text-align: center;
    background: rgb(80, 80, 80);
    color:white;
}

.dovednosti{
    margin: 1em 0 2em 0;
}
.vypis{
    padding: 0;
}

.vypis li{
    list-style-type: none;
}

body {
    background: #ffffff;
    color: #29262c;
    margin: 0;
    padding: 7.5em 0px 0 0;
    font: 14px "Poppins";
}
  
footer{
    padding: 1rem 0 4rem 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    position: static;
    background: rgb(255,187,187);
    text-align: center;
    color: white;
    margin: 0;
    background: #b7a5c9;
    clip-path: polygon();
    background: linear-gradient(90deg, rgba(255,187,187,1) 21%, rgba(216,181,255,1) 100%);
}

#footer-text{
    padding: 4em 0 3em 0;
    max-height: 0.5em;
    white-space: nowrap;
}

.Zpet{
    text-align: center;
    margin: 2em 0 5em 0;
    color: white;
}

.Zpet a{
    color: white;
    padding: 1em 3em;
    text-transform: uppercase;
    white-space: nowrap; 
    border-radius: 100px 100px 100px 100px;
    background: linear-gradient(90deg, rgba(255,187,187,1) 21%, rgba(216,181,255,1) 100%);
}

.Zpet a:hover{
    background: linear-gradient(90deg, #fca5f1 10%, #9eecec 100%);
    box-shadow: 0px 5px 10px #dddbdf;
}

a{
    text-decoration: none;
    color: #29262c;
}