/*CSS pro kontaktní stránku*/
#logo_kontakt{
    margin-left: 5vw;
    color: white;
}
.hl_stranka{
    margin-left: 5vw;
    margin-right: 5vw;
    width: 100%;

}

#kontakt{
    color: white;
    font-weight: 400;
    background: rgb(80, 80, 80);
    padding: 1em 0;
}

#email{
    padding: 4em 0 2em 0;
}

#linkedin{
    padding: 2em 0 8em 0;
    margin: 5vh 0;
}

.tlacitko-kontakt-m:hover{
    background: linear-gradient(90deg, #ffc8f8 10%, #b9eeee 100%);
    box-shadow: 0px 5px 10px #dddbdf;
    filter: opacity(0.68);
    color: rgb(80, 80, 80);
}

.tlacitko-kontakt-m{
    margin: 2em 0;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5em 1.2em;
    border-radius: 100px 100px 100px 100px;
    background: linear-gradient(90deg, rgba(255,187,187,1) 21%, rgba(216,181,255,1) 100%);   
}

.img-size{
    width: 3.2em;
    margin: 2em 0 1.5em 0;
}

.formular{
    margin: 8em 0;
    align-items: center;
}

#text-formular{
    font-weight: 500;
    font-size: 1em;
    padding: 8em 0 0 0;
}

