@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Poppins;
    src: url(font/Poppins-Black.ttf);
    font-weight: bold; 
}

html{
    color: rgb(70, 70, 70);
    font-family: Poppins;
    background:  rgb(230, 230, 230);
}

.autoportrait{
    max-width: 50%;
}

#logo{
    margin-right: 2%;
    margin-left: 4%;
    max-width:30%;
    color: white;

}

#logo h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
}

header {
    font-size: 1.2em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    display: flex;
    max-width: 100%;
    background: rgba(255,187,187);
    background: linear-gradient(90deg, rgba(255,187,187,1) 21%, rgba(216,181,255,1) 100%);
    
}

nav ul li {
    list-style-type: none;
    display: flex;
    padding: 0 25px;
    margin: 0 5px;
    line-height: 4.9em;
    
}

nav ul a {
    color: white;
    padding: 8px 0;
    text-decoration: none;
    text-transform: uppercase;
    flex-direction: column;
    white-space: nowrap;

}

nav ul {
    margin: 0;
    max-height: 100%;
    align-items: center;
    list-style-type: none;
    display: flex;
}

.centrovac {
    text-align: center;
}


#panel{
    padding: 5% 8%;
    margin: 2% 0 10% 0;
    font-size: 16px;
    text-align: center;
    background: rgb(80, 80, 80) ;
    color:white;
}

.dovednosti{
    margin: 4em 0 2em 0;
}

body {
    background: #ffffff;
    color: #29262c;
    margin: 0;
    padding: 10em 0px 0px 0px;
    box-sizing: border-box;
    font: 14px "Poppins";
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
footer{
    position: static;
    display: block;
    background: rgb(255,187,187);
    box-sizing: border-box;
    text-align: center;
    color: white;
    background: #b7a5c9;
    padding: 3% 0 0 4%;
    clip-path: polygon();
    background: linear-gradient(90deg, rgba(255,187,187,1) 21%, rgba(216,181,255,1) 100%);
}
#footer-text{
    padding: 2% 0 7% 0;
    max-height: 0.5em;

}
.Zpet{
    text-align: center;
    margin: 2em 0 5em 0;
}
.Zpet a{    
    padding: 1em 3em;
    
    text-transform: uppercase;
    white-space: nowrap; 
    border-radius: 100px 100px 100px 100px;
    background: linear-gradient(90deg, rgba(255,187,187,1) 21%, rgba(216,181,255,1) 100%);
}
.Zpet a:hover{
    background: linear-gradient(90deg, #fca5f1 10%, #9eecec 100%);
    box-shadow: 0px 5px 10px #dddbdf;
}


.autoportrait{
    box-shadow: 1px 2px 10px #c1bbc7;
    max-width: 30%;
}
a{
    text-decoration: none;
    color: #29262c;
}